*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  :root {
    --mainTrantion: 0.4s;
    --darkModeColor: #0e0e0e;
    --nightModeColor: #fff;
    --mainColor: #0f944b;
  }
  
    /*  Small  */
    @media (min-width: 576px) {
      .container {
        width: 100%;
      }
    }
    /*  Medium  */
    @media (min-width: 768px) {
      .container {
        width: 720px;
      }
    }
    /*  Large  */
    @media (min-width: 992px) {
      .container {
        width: 960px;
      }
    }
    /*  Extra Large  */
    @media (min-width: 1200px) {
      .container {
        width: 1140px;
      }
    }
    /* End Global Rules  */
    ul {
      list-style: none;
    }
  body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fae9fb;
    position: relative;
    font-family: "Roboto", sans-serif;
  }
  body::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #0f944b;
    clip-path: polygon(86% 0, 100% 0, 100% 100%, 60% 100%);
  }
  .container{
    z-index: 12;
    max-width: 1050px;
    width: 90%;
    background: #fff;
    border-radius: 12px;
    margin: 0 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  .mode-switcher {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 20px;
    background-color: #000;
    border-radius: 20px;
}
  .container .content{
    padding: 25px 20px;
  }
  .content .image-box img{
    width: 100%;
  }
  .content .topic{
    font-size: 24px;
    color: #0f944b;
  }
  .content form{
    width: 100%;
  }
  .content .input-box{
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
  }
  .content .input-box textarea {
    padding: 10px 0;
    resize: none;
    height: 120px;
    width: 100%;
    /* overflow: scroll; */
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
    background: #fae9fb;
    border: 2px solid transparent;
    transition: 0.3s;
  }
  .content .input-box textarea::placeholder {
    font-weight: 600;
    font-size: 15px;
  }
  .content .input-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
    background: #fae9fb;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  .content .img-holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0 0;
  }
  .content .img-label { 
    font-weight: bold;
    font-size: 24px;
    color: #0f944b;
  }
  .content .input-holder {
    position: relative;
    width: 100%;
    height: 90px;
    background-color: #fff;
    border: 2px dashed rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
  .content .img-choose {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  #fileList {
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #fileList .helper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--mainTrantion);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #8e8e8e;
  }
  #fileList .helper:hover {
    color: #fff;
    background-color: #0f944b;
  }
  #fileList .helper .item1,
  #fileList .helper .item2,
  #fileList .helper .item3 {
    max-width: 100px;
    overflow: hidden;
    display: flex;
    max-height: 20px;
  }
  .content .input-box input:focus,
  .content .input-box input:valid,
  .content .input-box input.up,
  .content .input-box textarea:focus,
  .content .input-box textarea:valid
  {
    border-color: #0f944b;
    background-color: #fff;
  }
  .content .input-box label{
    position: absolute;
    left: 18px;
    top: 50%;
    color: #636c72;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    font-weight: bold;
    transition: all 0.3s ease;
    z-index: 10;
  }
  .content .input-box input:focus ~ label,
  .content .input-box input:valid ~ label,
  .content .input-box textarea:focus ~ label,
  .content .input-box textarea:valid ~ label {
    top: 0;
    left: 12px;
    display: 14px;
    color: #0f944b;
    background: #fff;
  }
  .content .input-box input.up ~ label,
  .content .input-box textarea ~ label {
    top: 0;
    left: 12px;
    display: 14px;
    color: #0f944b;
    background: #fff;
  }
  .content .message-box{
    min-height: 100px;
    position: relative;
  }
  .content .message-box textarea:focus{
    border-color: #0f944b;
    background-color: #fff;
  }
  .content .input-box input[type="submit"]{
    color: #fff;
    background: #0f944b;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .content .input-box input[type="submit"]:hover{
    background-color: #0f944b;
  }
  .content .alreadyHaveAco {
    color: #636c72;
    text-decoration: none;
    text-align: center;
    display: block;
    font-weight: 600;
  }
  .content form .goto-articles {
    color: #0f944b;
    background: #fff;
    border: 1px solid #0f944b;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    padding: 10px;
  }
  @media (max-width:1000px) {
    .content .image-box{
      max-width: 70%;
    }
    .content{
      padding: 10px 0;
    }
    .content .image img {
      display: none;
    }
    .content form {
      width: 100%;
    }
  }
  /* alert  */
   .overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height:0;
    top: 0;
    left: 0;
    z-index: 14;
  }
   .overlay.on {
   height: 100vh;
  }
  
   .alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    width: 80%;
    height: 40%;
    z-index: 22;
    background-color: #c3c3c3;
    border-radius: 10px;
    transition: var(--mainTrantion);
    overflow: hidden;
    text-align: center;
  }
  .alert .info {
     padding: 20px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 100%;
  }
.container .box h3 {
  color: var(--mainColor);
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  position: relative;
}
.container .box h3::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: -5px;
  width: 110%;
  height: 0.7px;
  background-color: #909090;
}
.container .box {
  margin-top: 70px;
  margin-bottom: 20px;
  width: 98%;
  height: fit-content !important;
  border-radius: 4px;
  list-style: none;
  padding: 15px;
  background-color: white;
  border: 1px solid black;
  left: 153%;
  transition:var(--mainTrantion) linear;
  overflow: hidden;
}
.container .box.activeCenter {
  left: 1%;
}
 .container .box.activeLeft {
  left:-153% ;
}

.container .box li {
  padding: 10px 20px;
  transition: var(--mainTrantion);
  border-radius: 8px;
   color: #b4b4b4;
   font-weight: bold;
}
.container .box li.on {
  background-color: #008a40;
}
.container .box li.on i {
  color: #c3c3c3;
}
.container .box li:hover {
  background-color: var(--mainColor);
}
.container .categories li {
  padding: 16px 20px;
}
.container .categories li i {

  transition: var(--mainTrantion);
}
.container .box li:hover {
  background-color: var(--mainColor);
}
.container .box li:hover i {
  color: #c3c3c3;
}
.container .box li.first {
  margin-top: 20px;
}
.container .box li a {
  color: #c3c3c3;
  font-size: 18px;
  text-decoration: none;
  margin-left: 10px;
}
.container .box li i {
  color: var(--mainColor);
  font-size: 20px;
}
/* category */
.container .box .category {
  margin-top: 20px;
  color: #c3c3c3;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.container .box form {
  display: flex;
  flex-direction: column;
}
.container .box form input:focus,
.container .box form textarea:focus,
.container .price form select:focus {
  outline: none;
  border: 1px solid #0b924a;
}
/* price */
.container .box form input::placeholder {
  font-size: 15px;
  color: #c3c3c3;
  text-transform: capitalize;
}
.container .box form input.price::-webkit-outer-spin-button,
.container .box form input.price::-webkit-inner-spin-button,
.container .box form input::-webkit-outer-spin-button,
.container .box form input::-webkit-inner-spin-button {
  appearance: none;
}
.container .price form .custemoption p {
  color: #8a8686;
}
  .box form .custemoption ul li,
  .container .price form .currency ul li {
    /* padding: 10px; */
    border-radius: 5px;
  }
  .custom-file-upload {
    border: 1px dashed #ccc;
    padding: 6px 12px;
    cursor: pointer;
    color: #c3c3c3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 100%;
    padding: 30px;
    z-index: 2;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
  }

  .custom-file-upload i {
    font-size: 40px;
    color: #0b924a;
  }
  .custom-file-upload h6 {
    font-size: 25px;
    color: rgb(22 135 255);
  }
  .container .fileList {
    list-style: none;
    text-align: center;
    width: 98%;
  }
  .container .fileList li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:rgba(129, 129, 129, 0.267) ;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: var(--mainTrantion);
  }
  
  .container .fileList li p:first-child {
    width: 70%;
    margin-left: 10px;
    text-align: left;
    overflow-x:clip;
  }
/* end new-anouncement  */
/* Start contact us  */

.footer-distributed{
	background: var(--mainColor);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding:30px;
}

  /* Small */
  @media (min-width: 768px) {
    .alert {
    width: 70%;  
    }
    .alert i {
    margin: 48px 0 0 10px;
  
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .alert {
    width: 60%;  
    }
  }
  /* Large */
  @media (min-width: 1200px) {
     .alert {
    width: 50%;  
    }
  }
   .alert.on {
     transform:translate(-50%,-50%) scale(1) ;
  
  }
   .alert nav {
    background-color: var(--mainColor);
    width: 100%;
    top: 0;
    padding: 15px;
    font-size: 19px;
    color: #c3c3c3;
    text-align: center;
  }
   .alert span {
    font-size: 20px;
    color: #0e0e0e;
    text-align: center;
    margin-top: 50px;
  }
  
  .alert i {
    font-size: 30px;
    color: #0f944b;
    margin: 10px 0 ;
  }
   .alert > a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--darkModeColor);
    color: #c3c3c3;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
  }
  /* sign up */
  .custemoption {
      position: relative;
    padding: 4px 10px;
    margin-bottom: 10px;
    color: #636c72;
    transition: var(--mainTrantion);
    height: 45px;
    background-color: #fae9fb;
     border: 2px solid transparent;
     border-radius: 6px;
     cursor: pointer;
  }
  .custemoption .stateHeadre {
      display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    z-index: 4;
  }
  .custemoption.on {
    background-color: #fff;
      border-color: #0f944b;
   
  }
   .custemoption .stateHeadre p {
     font-size: 15px;
     font-weight: bold;
   }
  .custemoption .state {
    background-color:#fae9fb;
    position: absolute;
    width: calc(100% + 2px);
    left: -1px;
    list-style: none;
    top:1px;
    border-radius:0 0 5px 5px;
    opacity: 1; 
    display: flex;
    flex-direction: column;
    z-index: 4;
    padding: 5px 5px;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .custemoption .state li {
    padding: 10px;
    transition: var(--mainTrantion);
    border-radius: 7px;
  }
  .custemoption .state li:hover {
    background-color: #0f944b;
    color: #fae9fb;
  }
  .custemoption .state.on {
     opacity: 0;
    height: 0;
    display: none;
  }
  /* Articles */
  /* Start footer  */
footer {
  background-color: var(--mainColor);
  text-align: center;
  padding: 30px;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}
footer .count {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .count .info {
  width: 25%;
  position: relative;
}
footer .count .info > img {
  position: absolute;
  width: 90%;
}
footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid: 1%;
}
footer .box {
  width: 48%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
footer .box a {
  text-decoration: none;
  color: #c3c3c3;
  font-size: 18px;
  margin-bottom: 15px;
}
footer .box a i {
  font-size: 18px;
  color: #05c2fb;
  margin-right: 10px;
}
footer h3 {
  color: #c3c3c3;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}
footer > img {
  width: 150px;
  margin-bottom: 10px;
}
footer h2 {
  margin: 20px 0;
}
footer .media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 15px 0 30px;
  flex-wrap: wrap;
}
footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
footer .social a {
  width: 40px;
  height: 40px;
}
footer .social a img {
  max-width: 40px;
  max-height: 40px;
  transition: var(--mainTrantion);
  border-radius: 10px;
}
footer .social img:hover {
  transform: scale(1.1);
}
footer p {
  color: white;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 10px;
}

/* End footer  */